In [1]:
from sqlalchemy import create_engine
import pandas as pd

### Create Database

Open pgAdmin and right-click on your postgres server (mine's postgres 10 bc my Mac refused to work with 11 and 12), but for most of you, it should be 12. Then go to "create" and "database."

<img src="./dbInstructionImages/createDB.png" width="60%">

Then name your database "aq_db" and save.

<img src="./dbInstructionImages/saveDB.png" width="40%">

In [2]:
# Create connection string to database. Note that my port number is 5433.
# Once again this is due to my Mac not playing nice. Most likely, your port number is 5432 so make sure to change.
# Additionally, your username and password are most likely postgres:postgres as they're specified here.

rds_connection_string = "postgres:postgres@localhost:5433/aq_db"

In [3]:
# Set up your database engine

engine = create_engine(f'postgresql://{rds_connection_string}')

In [11]:
# Read our csv into a dataframe using pandas

aq_df = pd.read_csv('./Shane/output_data/AirNowAPI_20200411_073607.csv')
df.head(20)

,DateObserved,HourObserved,LocalTimeZone,ReportingArea,StateCode,Latitude,Longitude,ParameterName,AQI,AQICategoryNumber,AQICategory,cityRank,cityName,cityCSA,cityState,cityPopulation2018Estimate,cityPopulation2010Census,cityLat,cityLong,cityZip
0,1/1/15,0,EST,Newark,NJ,40.7267,-74.1442,OZONE,30,1,Good,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
1,1/1/15,0,EST,Newark,NJ,40.7267,-74.1442,PM2.5,65,2,Moderate,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
2,1/2/15,0,EST,Newark,NJ,40.7267,-74.1442,OZONE,24,1,Good,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
3,1/2/15,0,EST,Newark,NJ,40.7267,-74.1442,PM2.5,56,2,Moderate,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
4,1/3/15,0,EST,Newark,NJ,40.7267,-74.1442,OZONE,8,1,Good,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
5,1/3/15,0,EST,Newark,NJ,40.7267,-74.1442,PM2.5,53,2,Moderate,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
6,1/4/15,0,EST,Newark,NJ,40.7267,-74.1442,OZONE,20,1,Good,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
7,1/4/15,0,EST,Newark,NJ,40.7267,-74.1442,PM2.5,37,1,Good,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
8,1/5/15,0,EST,Newark,NJ,40.7267,-74.1442,OZONE,31,1,Good,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
9,1/5/15,0,EST,Newark,NJ,40.7267,-74.1442,PM2.5,31,1,Good,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
10,1/6/15,0,EST,Newark,NJ,40.7267,-74.1442,OZONE,19,1,Good,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
11,1/6/15,0,EST,Newark,NJ,40.7267,-74.1442,PM2.5,41,1,Good,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
12,1/7/15,0,EST,Newark,NJ,40.7267,-74.1442,OZONE,29,1,Good,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
13,1/7/15,0,EST,Newark,NJ,40.7267,-74.1442,PM2.5,61,2,Moderate,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
14,2/1/15,0,EST,Newark,NJ,40.7267,-74.1442,OZONE,25,1,Good,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
15,2/1/15,0,EST,Newark,NJ,40.7267,-74.1442,PM2.5,59,2,Moderate,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
16,2/2/15,0,EST,Newark,NJ,40.7267,-74.1442,OZONE,31,1,Good,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
17,2/2/15,0,EST,Newark,NJ,40.7267,-74.1442,PM2.5,40,1,Good,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
18,2/3/15,0,EST,Newark,NJ,40.7267,-74.1442,OZONE,31,1,Good,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
19,2/3/15,0,EST,Newark,NJ,40.7267,-74.1442,PM2.5,36,1,Good,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001

In [15]:
aq_df['Datetime'] = pd.to_datetime(aq_df['DateObserved'], format="%m/%d/%y")

# creates a third date column which captures only the YYYY value of the date from the new 'Datetime' column 
aq_df['year'] = aq_df['Datetime'].dt.strftime("%Y")

# creates a fourth date column which captures only the full month name value of the date from the new 'Datetime' column (i.e. 'January', 'February', etc)
aq_df['month'] = aq_df['Datetime'].dt.strftime("%B")

# filters data by user selected date and cityname 
selected_data = aq_df.loc[(aq_df["year"] == '2015') & (
        aq_df["cityName"] == 'Los Angeles'), :]  

# Isolates Ozone data points for the selected year and city 
ozone_data = selected_data.loc[selected_data["ParameterName"] == 'OZONE', :]

# Groups the ozone data by month and AQI Quality (good, moderate, etc.), then gets a count of each quality category for each month
#grouped_ozone_data = ozone_data.groupby(['month', 'AQICategory'])
#count_ozone = grouped_ozone_data['AQICategory'].count()

ozone_data

,DateObserved,HourObserved,LocalTimeZone,ReportingArea,StateCode,Latitude,Longitude,ParameterName,AQI,AQICategoryNumber,...,cityCSA,cityState,cityPopulation2018Estimate,cityPopulation2010Census,cityLat,cityLong,cityZip,Datetime,year,month
894,1/1/15,0,PST,Central LA CO,CA,34.0663,-118.2266,OZONE,37,1,...,"Los Angeles-Long Beach, CA Combined Statistica...",CA,18764814,17877006,34.0522,-118.2437,90001,2015-01-01,2015,January
895,1/2/15,0,PST,Central LA CO,CA,34.0663,-118.2266,OZONE,35,1,...,"Los Angeles-Long Beach, CA Combined Statistica...",CA,18764814,17877006,34.0522,-118.2437,90001,2015-01-02,2015,January
896,1/3/15,0,PST,Central LA CO,CA,34.0663,-118.2266,OZONE,36,1,...,"Los Angeles-Long Beach, CA Combined Statistica...",CA,18764814,17877006,34.0522,-118.2437,90001,2015-01-03,2015,January
897,1/4/15,0,PST,Central LA CO,CA,34.0663,-118.2266,OZONE,40,1,...,"Los Angeles-Long Beach, CA Combined Statistica...",CA,18764814,17877006,34.0522,-118.2437,90001,2015-01-04,2015,January
898,1/5/15,0,PST,Central LA CO,CA,34.0663,-118.2266,OZONE,35,1,...,"Los Angeles-Long Beach, CA Combined Statistica...",CA,18764814,17877006,34.0522,-118.2437,90001,2015-01-05,2015,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973,12/3/15,0,PST,Central LA CO,CA,34.0663,-118.2266,OZONE,27,1,...,"Los Angeles-Long Beach, CA Combined Statistica...",CA,18764814,17877006,34.0522,-118.2437,90001,2015-12-03,2015,December
974,12/4/15,0,PST,Central LA CO,CA,34.0663,-118.2266,OZONE,23,1,...,"Los Angeles-Long Beach, CA Combined Statistica...",CA,18764814,17877006,34.0522,-118.2437,90001,2015-12-04,2015,December
975,12/5/15,0,PST,Central LA CO,CA,34.0663,-118.2266,OZONE,36,1,...,"Los Angeles-Long Beach, CA Combined Statistica...",CA,18764814,17877006,34.0522,-118.2437,90001,2015-12-05,2015,December
976,12/6/15,0,PST,Central LA CO,CA,34.0663,-118.2266,OZONE,35,1,...,"Los Angeles-Long Beach, CA Combined Statistica...",CA,18764814,17877006,34.0522,-118.2437,90001,2015-12-06,2015,December
977,12/7/15,0,PST,Central LA CO,CA,34.0663,-118.2266,OZONE,40,1,...,"Los Angeles-Long Beach, CA Combined Statistica...",CA,18764814,17877006,34.0522,-118.2437,90001,2015-12-07,2015,December

In [29]:
# Use the dataframe's 'to_sql' method to create a new table named 'city_aq', using the engine we created earlier.
# The first two lines ensure that we drop the table if it already exists so we can create our table using
# our dataframe method. (For example, if our csv data changes and we need to update the table.)

with engine.connect() as connection:
    connection.execute("DROP TABLE IF EXISTS city_aq")

df.to_sql('city_aq',con=engine,index=False)

If you return to pgAdmin, you'll see our newly created table in the database. (If you don't, you may need to right-click on 'Tables' and refresh.)

<img src="./dbInstructionImages/table.png" width="40%">

In [31]:
# Here you can see our table was properly created as we're reading it back into pandas

df_fromPG = pd.read_sql('city_aq',con=engine)
df_fromPG.head()

,DateObserved,HourObserved,LocalTimeZone,ReportingArea,StateCode,Latitude,Longitude,ParameterName,AQI,AQICategoryNumber,AQICategory,cityRank,cityName,cityCSA,cityState,cityPopulation2018Estimate,cityPopulation2010Census,cityLat,cityLong,cityZip
0,1/1/15,0,EST,Newark,NJ,40.7267,-74.1442,OZONE,30,1,Good,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
1,1/1/15,0,EST,Newark,NJ,40.7267,-74.1442,PM2.5,65,2,Moderate,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
2,1/2/15,0,EST,Newark,NJ,40.7267,-74.1442,OZONE,24,1,Good,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
3,1/2/15,0,EST,Newark,NJ,40.7267,-74.1442,PM2.5,56,2,Moderate,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001
4,1/3/15,0,EST,Newark,NJ,40.7267,-74.1442,OZONE,8,1,Good,1,New York City,"New York-Newark, NY-NJ-CT-PA Combined Statisti...",NY,22679948,22255491,40.7128,-74.006,10001

Additionally, if you open up the query tool in pgAdmin (right click on aq_db in left column and click 'Query Tool'), you can execute an explicit SQL command to show the table data.

<img src='./dbInstructionImages/querytool.png' width='60%'>

#### With this table now set-up, python-flask can connect to the database, read in the data, and filter it according to our front-end inputs.